<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Phase 1 Front End</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>Input:</h1>

  <div class="form-group purple-border">
    <label for="ControlTextAreaInput"></label>
    <textarea class="form-control" id="input" rows="30" cols="150"></textarea>
  </div>

  <button id="runButton" onclick=runb();>Run</button>

  <h2>Output:</h2>

  <div class="form-group green-border-focus">
    <label for="ControlTextAreaOutput"></label>
    <textarea class="form-control" id="output" rows="30" cols="150"></textarea>
  </div>
  <script src="/js/code.js"></script>
</body>

</html>
