<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Phase 1 Front End</title>
  <link rel="stylesheet" href="/css/styles.css" media="screen">
  <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
  <script src="/js/code.js"></script>
  <!-- <link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link> -->
</head>

<body>

  <h1>Run Your Code Below!</h1>


  <div id="inline-div">



    <!-- <div class="left-div">
      <h2 align="center">Input</h2>
      <div id="myEditor"></div>
        <script>
          test();
        </script>
      </div>
  </form> -->


    <div class="left-div">
      <h2 align="center">Input</h2>
      <form method="POST">
        <textarea class='form-control' name="box" rows='27' cols=98></textarea>
        <button id="runButton" type=submit align="center">Run</button>
      </form>
    </div>





    <div class="right-div">
      <h2 align="center">Output</h2>
      <label for="ControlTextAreaOutput"></label>
      <textarea name="output" rows="27" cols="98" >{{output}}</textarea>
    </div>

    <div style= "clear: both;"></div>

  </div>




<!--
  <h2>Input:</h2>
  <h2>Output:</h2>
 -->


  <!-- <h2>Output:</h2> -->

  <!-- <label for="ControlTextAreaOutput"></label>
  <textarea name="output" rows="25" cols="98" >{{output}}</textarea> -->

  <script src="/js/code.js"></script>

</body>

</html>
