<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Phase 1 Front End</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>Input:</h1>



  <!-- <form method="POST" id=inputForm>
    <input name="text">
    <input type="submit">
  </form> -->

  <!-- <form class="form-group purple-border" method="POST" name="inputForm">
    <label for="ControlTextAreaInput"></label>
    <textarea class="form-control" name='box' id="input" rows="30" cols="150" form="inputForm"></textarea>
    <button id="runButton" type=submit>Run</button>
  </form> -->


  <form method="POST">
    <textarea class='form-control' name="box" rows='30' cols=150></textarea>
    <button id="runButton" type=submit>Run</button>
  </form>



  <h1>Output:</h1>

  <div class="form-group green-border-focus">
    <label for="ControlTextAreaOutput"></label>
    <textarea class="form-control" name="output" rows="30" cols="150">{{output}}</textarea>
  </div>

  <!-- <form method="GET">
    <textarea class='form-control' name="output" rows='30' cols=150></textarea>
    <button id="runButton" type=submit>Run</button>
  </form> -->


  <script src="/js/code.js"></script>
</body>

</html>
