<head>
  <meta charset="utf-8">
  <title>Phase 2 Input</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <h1>Subscribe! Publish! You Decide!</h1>


  <div id="inline-div">



    <!-- <div class="left-div">
      <h2 align="center">Input</h2>
      <div id="myEditor"></div>
        <script>
          test();
        </script>
      </div>
  </form> -->


    <div class="left-div">
      <h2 align="center">Subscriber</h2>
      <form method="POST">
        <textarea class='form-control' name="box" rows='27' cols=98></textarea>
        <button id="runButton" type=submit align="center">Run</button>
      </form>
    </div>





    <div class="right-div">
      <h2 align="center">Publisher</h2>
      <label for="ControlTextAreaOutput"></label>
      <textarea name="output" rows="27" cols="98" >{{output}}</textarea>
    </div>

    <div style= "clear: both;"></div>

  </div>

</body>

</html>
